<footer class="footing">
    <div class="footer-middle-block">
        <div class="footer-col1">
            <div class="logo">
                <img src='/img/CompanyLogoAlt.png' alt="">
            </div>
            <div class="footer-intro">
                Novelio is one of the most popular tech startups driving innovation.
            </div>
            <div class="ph-no">
                {{ partial "svg/phoneIcon.svg"}}
                <!-- <img src='img/phoneIcon.svg' alt="phone_icon" class="phNo_icon" /> -->
                <div class="phNo">+959770033832, +959770033837</div>
            </div>
            <div class="email">
                {{ partial "svg/emailIcon.svg"}}
                <!-- <img src='img/emailIcon.svg' alt="email_icon" class="email_icon" /> -->
                <div class="email-address">shanpyaephyotun966@gmail.com</div>
            </div>
            <div class="social-links">
                <div class="social-circle">
                    {{ partial "svg/facebook_icon.svg"}}
                    <!-- <img src='img/facebook_icon.svg' alt="facebook_icon" class="facebook_icon" /> -->
                </div>
                <div class="social-circle">
                    {{ partial "svg/instagram_icon.svg"}}
                    <!-- <img src='img/instagram_icon.svg' alt="instagram_icon" class="instagram_icon" /> -->
                </div>
                <div class="social-circle">
                    {{ partial "svg/twitter_icon.svg"}}
                    <!-- <img src='img/twitter_icon.svg' alt="twitter_icon" class="twitter_icon" /> -->
                </div>
            </div>
        </div>
        <div class="footer-wrap">
            <div class="footer-col2">
                <div class="fc2-title">
                    Menu
                </div>
                <div class="page">
                    Home Page
                </div>
                <div class="page">
                    About Us
                </div>
                <div class="page">
                    Feature
                </div>
                <div class="page">
                    Service
                </div>
                <div class="page">
                    Blog
                </div>
                <div class="page">
                    Single Blog
                </div>
                <div class="page">
                    Pricing Plan
                </div>
            </div>
            <div class="footer-col3">
                <div class="fc3-title">
                    Utility Pages
                </div>
                <div class="page">
                    Start Here
                </div>
                <div class="page">
                    Style Guide
                </div>
                <div class="page">
                    404 Not Found
                </div>
                <div class="page">
                    Password Protected
                </div>
                <div class="page">
                    Licenses
                </div>
                <div class="page">
                    Change Log
                </div>
                <div class="page">
                    FAQ
                </div>
            </div>
            <div class="footer-col4">
                <div class="fc4-title">
                    Template Pages
                </div>
                <div class="page">
                    Sign Up Page
                </div>
                <div class="page">
                    Sign In Page
                </div>
                <div class="page">
                    Forgot Password
                </div>
                <div class="page">
                    Terms & Conditions
                </div>
                <div class="page">
                    Refund Policy
                </div>
                <div class="page">
                    Coming Soon
                </div>
                <div class="page">
                    Contact Us
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-block">
        Copyright © Shan Pyae Phyo General Services Co., Ltd | Designed by Brandbes - Powered by - MiracleDev
    </div>
</footer>